.social:hover {
  transform: scale(1.2);
}
.social {
  transition: all 0.25s;
}
body {
  background-color: #e37a0e;
}
main, img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
hr {
  height: 1px;
  background-color: black;
}
h5 {
  color: white;
}
a, a:visited {
  color: #e37a0e !important;
}
a:hover, a:active {
  color: red !important;
  text-decoration: none !important;
}
.heading, h4 {
  font-family: 'Spectral SC', serif;
}
* {
  font-family: 'Montserrat', sans-serif;
}
.btn:hover{
  color: gray;
}
.nav-pills a:link, .nav-pills a:visited {
  color: white !important;
}
.nav-pills a:hover {
  color: gray !important;
}
.nav-pills > a.active, .btn-primary {
  background-color: #e37a0e !important;
  border: none;
}
.modal-content {
  width: 40vw !important;
}
#modal-title {
  color: black;
}
